WebServicesSOAP/ClientWS/src/proxy/BankWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="BankWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:9091/?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"></part>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"></part>
</message>
<message name="listComptes">
<part name="parameters" element="tns:listComptes"></part>
</message>
<message name="listComptesResponse">
<part name="parameters" element="tns:listComptesResponse"></part>
</message>
<message name="ConversionToDh">
<part name="parameters" element="tns:ConversionToDh"></part>
</message>
<message name="ConversionToDhResponse">
<part name="parameters" element="tns:ConversionToDhResponse"></part>
</message>
<portType name="BanqueService">
<operation name="getCompte">
<input wsam:Action="http://WS/BanqueService/getCompteRequest" message="tns:getCompte"></input>
<output wsam:Action="http://WS/BanqueService/getCompteResponse" message="tns:getCompteResponse"></output>
</operation>
<operation name="listComptes">
<input wsam:Action="http://WS/BanqueService/listComptesRequest" message="tns:listComptes"></input>
<output wsam:Action="http://WS/BanqueService/listComptesResponse" message="tns:listComptesResponse"></output>
</operation>
<operation name="ConversionToDh">
<input wsam:Action="http://WS/BanqueService/ConversionToDhRequest" message="tns:ConversionToDh"></input>
<output wsam:Action="http://WS/BanqueService/ConversionToDhResponse" message="tns:ConversionToDhResponse"></output>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getCompte">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="listComptes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ConversionToDh">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BankWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:9091/"></soap:address>
</port>
</service>
</definitions>